.checkout {
	min-height: calc(100vh - #{$h-header} - #{$h-footer});
	padding: 100px 0;
	@include middle;

	&--wrap {
		width: 100%; max-width: 550px;
		margin: 0 auto;
	}

	&--ttl {
		color: $c-brand;
		font-size: 30px;
		font-weight: 800;
		text-align: center;
		margin-bottom: 60px;
		text-transform: uppercase;
	}

	&--subttl {
		color: $c-gray;
		font-size: 21px;
		font-weight: 800;
		margin-bottom: 30px;
		&:before {
			content: "\f046";
			display: inline-block;
			font-family: 'FontAwesome';
			margin-right: 5px;
		}
	}

	&__user {}

	&__cart {}

	&__item {
		display: flex;
		flex-wrap: wrap;
		border-bottom: 1px dotted rgba(0,0,0,0.3);
		margin-bottom: 15px;
		padding-bottom: 15px;
		@include under($b-sm) { display: block; }		

		&--name {
			order: 1;
			width: calc(100% - 120px);
			font-weight: 800;
		}
		&--detail {
			order: 3;
			width: calc(100% - 120px);
			color: $c-light;
			font-size: 14px;			
		}
		&--price {
			order: 2;
			width: 120px;
			text-align: right;
			padding-left: 20px;
		}
		&--qty {
			order: 4;
			width: 120px;
			text-align: right;
			padding-left: 20px;
			&:before {
				content: '\d7';
				display: inline-block;
				font-weight: 800;
				margin-right: 5px;
			}
		}
		& > * { 
			@include under($b-sm) {
				width: 100%;
				text-align: left;
				padding-left: 0;
			}
		}
	}

	&__payment {
		
	}

	&--step {
		display: none;
	}

	&--btn {
		color: $c-base;
		cursor: pointer;
		display: inline-block;
		padding: 10px 15px;
		font-size: 17px;
		font-weight: 800;
		border-radius: 4px;
		background-color: $c-brand;
		@include no-webkit;
		@include transition;
		&:hover {
			background-color: $c-alt;
		}
		&.next {
			margin-left: auto;
		}
	}
}