.footer {
	bottom: 0;
	left: 0;
	width: 100%;
	height: $h-footer;
	position: absolute;
	background-color: $c-gray;
	
	&--copy { 
		color: $c-base;
		font-size: 14px;
		text-align: center;
		line-height: $h-footer;
	}
}