.form {

	* { font-family: 'Muli', sans-serif; }

	&__row {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 25px;
		justify-content: space-between;

		&--detail {
			width: calc(100% - 30px);
			cursor: pointer;
			display: inline-block;
			line-height: 1.2;
			.fa {
				font-size: 20px !important;
				margin-right: 10px;
			}
		}

		&--form {
			display: none;
			margin-top: 15px;
		}

		&--label {
			width: 130px;
			cursor: pointer;
			font-size: 14px;
			font-weight: 800;
			line-height: 1.2;
			text-transform: uppercase;
			@include middle;
			@include under($b-sm) {
				width: 100%;
				margin-bottom: 5px;
			}
		}

		&--input:not([type="radio"]) {
			width: calc(100% - 150px);
			padding: 10px;
			font-size: 17px;
			border-radius: 4px;
			background-color: $c-clear;
			transition:	background-color 0.3s ease;
			@include no-webkit;
			@include under($b-sm) {
				width: 100%;
			}

			&:focus {
				background-color: $c-clearx;
			}
		}
	}
}