.header {
	top: 0;
	left: 0;
	width: 100%;
	height: $h-header;
	z-index: 99;
	position: fixed;
	text-align: center;
	background-color: $c-brand;
	@include middle;

	&--logo {
		height: 40px;
		width: auto;
		@include no-select;
		@include under($b-sm) {
			height: 30px;
		}
	}
}