
.wrap {
	width: 100%; max-width: $w-wrap;
	margin: 0 auto;
	padding: 0 30px;
}

.btn, %btn {
	color: $c-brand;
	cursor: pointer;
	border: 1px solid $c-brand;
	padding: 12px 30px 12px 30px;
	display: inline-block;
	font-size: 27px;
	font-weight: 800;
	line-height: 1;
	border-radius: 0;
	@include no-select;
	@include transition;
	&:hover {
		color: $c-base;
		background-color: $c-brand;
	}
}

%ttl,.ttl {
	width: 100%;
	margin: 0px;
	text-align: center;
	line-height: 1;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}