/* RESET */

* { margin: 0; padding: 0; box-sizing: border-box; }

html { width: 100%; }

body { 
	width: 100%;
	color: $c-font;
	position: relative;
	font-size: 17px;
	min-height: 100vh;
	background: $c-base;
	line-height: 1.5;
	padding-top: $h-header;
	font-weight: 300;
	font-family: 'Muli', sans-serif;
	padding-bottom: $h-footer;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.screen-reader-text { position: absolute; left: -9999px; top: -9999px; }
.clear { clear: both; }
.group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .group, *:first-child+html .group { zoom: 1; } /* First selector = IE6, Second Selector = IE 7 */

h1, h2, h3 { 
	margin: 0 0 15px 0;
	line-height: 1.2; 
	font-weight: 800;
}

p { 
	margin: 0 0 15px 0;
	line-height: 1.5;
	&:last-child { margin-bottom: 0; }
	a {
		cursor: pointer;
		@include transition;
		&:hover { opacity: 0.6; }
	}
}

a { 
	color: $c-font; 
	text-decoration: none;
}

img { border: none; }
