
/* COLORS */
$c-base:   #ffffff;
$c-font:   #222222;
$c-gray:   #333333;
$c-clear:  #eeeeee;
$c-clearx: #dddddd;
$c-light:  #999999;
$c-brand:    #ce0b10;
$c-alt:    #a50a0f;

/* BREAKS */
$b-lg: 1000px;
$b-md: 800px;
$b-sm: 720px;
$b-xs: 600px;

/* W&H */
$w-wrap: 900px;
$h-header: 80px;
$h-footer: 80px;